@font-face {
  font-family: "Sefoe UI Semibold";
  src: url("../fonts/Sefoe UI Semibold.eot");
  src: url("../fonts/Sefoe UI Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Sefoe UI Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI-Semibold";
  src: url("../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold") format("svg"),
    url("../fonts/SegoeUI-Semibold.ttf") format("truetype"),
    url("../fonts/SegoeUI-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
